@use "../forwarder" as *;

.wrapper .sidebar{
    position: fixed;
    height: 100%;
    width: $sidebar;
    flex-shrink: 0;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0;
    background-color: #060606;
    transition: all ease-in-out .3s;

    .add-new a .sidetoggle span{
        font-size: 15px;
    }
    
    .sidebar-list ul li:hover{
        background-color: #fff !important;
        a{
            color: #DC3545 !important;
        }
    }

    .sidebar-list ul li.active{
        background-color: #fff !important;
        a{
            color: #DC3545 !important;
        }
    }
    .sidebar-list ul li a span{
        font-size: 14px;
    }
}